.button {
  box-sizing: border-box;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 110px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  transition: box-shadow ease-in 0.3s, background-color 0.3s;

  &:hover {
    background-color: transparent;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);;
  }

  &:disabled {
    border-color: rgba(190, 190, 190, 0.15);
  }
}

.link {
  text-decoration: none;
}